header{
    background-color: $color-primario;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 25vh;
    position: sticky;
    top: 0;
    z-index: 10;
    img{
        width: 100px;
        height: 100px;
        border-radius: 100px;
        padding: 5px;
    }
    nav{
        ul{
            list-style: none;
            display: flex;
            margin-top: 7px;
            li{
                a{
                    margin: 10px;
                    color: $color-terciario;
                    font-family: cursive;
                    text-decoration: none;
                }
            }
        }
    }
}