.hero{
    width: 100%;
    height: 25vh;
    background-color: $color-primario;
    padding: 5px;
    .parrafo{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        flex-wrap: wrap;
        h2{
            font-family: cursive;
            font-size: 30px;
            text-align: center;
            span{
                color:  $color-secundario;
            }
        }
        p{
            margin-top: 5px;
            width: 100%;
            font-family: cursive;
            font-size: 20px;
            color: rgb(0, 0, 0);
            text-align: center;
            width: 80%;
            margin-left:  50px ;
        }
        }
    }
.productos{
    background-color: color-terciario;
    width: 100%;
    height: 300px;
    h2{
        text-align: center;
        background-color: $color-primario;
        font-family: cursive;
        font-size: 20px;
    }
    .tarjetitas{
        text-align: center;
        display: flex;
        justify-content: space-around; 
        align-items: center;
        div{
            img{
                width: 250px;
                height: 200px;
                border: 2px solid $color-primario;
                border-radius: 15px;
                margin-top: 20px;   
            }
            a{
                color: $color-terciario;
                text-decoration: none;
            }
        }
        h4{
            background-color: $color-primario;
            border-radius: 10px;
            font-family: cursive;
            font-size: 20px;
            margin-top: 5px;
        }
    }
}
.whatsapp{
    img{
        width: 50px;
        height: 50px;
        position: fixed;
        bottom: 100px;
        right: 35px;
    }
}
.piedepagina{
    .mapa{
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        background-color: $color-primario;
        div{
            iframe{
                width: 300px;
                height: 160px; 
                padding: 10px;
            }
        }
        .redes{
            img{
                width: 30px;
                height: 30px;
            }
    }
}

.titulo_pie{
    font-family: cursive;
    color: $color-terciario;
    margin-right:30px;
    }
}
/*BOOSTRAP*/
.carousel-inner{
    height: 60vh; 
    background-color: $color-primario;
    div{
        img{
            height: 55vh;
            width: 100%;
        }
    }
}
.grid_container{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3,1fr);/*Corregir seccion para que no se salga del contenedor padre*/
    grid-auto-rows: 150px;
    gap: 5px;  
    padding: 5px;
    background-color: $color-primario;
    div{
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
.cuadro{
    position: relative;
    h4{
        position: absolute;
        bottom: 0;
        text-align: center;
        color: $color-terciario;
        background-color: $color-primario;
        width: 100%;
    }
}
.img-1{
    grid-column: span 2;
}
.img-2{
    grid-row: span 2;
}
.img-5{
    grid-row: span 2;
}
.img-8{
    grid-column: span 2;
}

/*PSEUDOCLASES*/
.productos{
    transition: width 3s steps(5, end);
    .tarjetitas{
        transition: width 3s steps(5, end);
        h4{
        &:hover{
            background-color: $color-secundario;
            border-radius: 10px;
            font-family: cursive;
            font-size: 20px;
            margin-top: 5px;
        }
        }
    }
}
.cuadro{
    transition: width 3s steps(5, end);
    h4{
        transition: width 3s steps(5, end);
    &:hover{
        position: absolute;
        bottom: 0;
        text-align: center;
        color: $color-cuarto;
        background-color: $color-secundario;
        width: 100%;    
    }    
    }
}
.hero{
    .parrafo{
        h2{
        &:hover{
            font-family: cursive;
            font-size: 30px;
            text-align: center;
            color: $color-quinto;
        }    
        }
    }
}
.hero{
    .parrafo{
        h2{
            span{
            &:hover{
                color: $color-quinto;    
            }    
            }
        }
    }
}
/*TRANSFORMACIONES*/
.transformacion img{
    width: 100px;
    height: 100px;
    &:hover{
        transition: 4s;
        transform: translateX(50px);
    }
}
/*NOSOTROS*/
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25vh;
    position: sticky;
    top: 0;
    z-index: 1;
    img{
        width: 100px;
        height: 100px;
        border-radius: 100px;
    }
}
.nosotros{
    background-image: url(../img/nosotros.jpeg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;  
    display: flex;
    flex-direction: column;
    h2{
        color: $color-terciario;
        font-family: cursive;
        font-size: 20px;
        padding: 5px;
    }
    p{
        color: $color-terciario;
        font-family: cursive;
        font-size: 20px;
        text-align: left;
        width: 50%;
        padding-left: 5px;
        margin-top: 30px;
    }
}
.pienosotros{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    background-color: $color-primario;
    div{
        a{
            img{
                width: 30px;
                height: 30px;
            }
        }
    }
}
.navbarservicios{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25vh;
    position: sticky;
    top: 0;
    z-index: 1;
    img{
        width: 100px;
        height: 100px;
        border-radius: 100px;
    }
}
.servicios{
    background-color: $color-terciario;
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    p{
        color: $color-cuarto;
        font-family: cursive;
        font-size: 20px;
        width: 50%;
        margin-top: 20px;
        margin-left: 10px;
        padding-bottom: 5px;
        text-align: center;
    }
}
.medios{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2,1fr);/*Corregir seccion para que no se salga del contenedor padre*/
    grid-auto-rows: 150px;
    gap: 5px;  
    padding: 5px;
    background-color: $color-primario;
    div{
        iframe{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
.video{
    position: relative;
    h4{
        position: absolute;
        bottom: 0;
        text-align: center;
        color: $color-terciario;
        background-color: $color-primario;
        width: 100%;    
    }
}
.recuadro-1{
    grid-column: span 2;
}
.recuadro-2{
    grid-row: span 2;
}
.recuadro-3{
    grid-row: span 2;
}
.recuadro-4{
    grid-column: span 2;
}
.pieservicios{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    background-color: $color-primario;
    div{
        a{
            img{
                width: 30px;
                height: 30px;
            }
        }
    }
    h2{
    font-size: 30px;
    color: $color-terciario;
    font-family: cursive;    }
}
/*OFERTAS*/
.ofertas{
    h2{
        text-align: center;
        background-color: $color-primario;
        font-family: cursive;
        font-size: 20px;
    }
}
.ofertas .div1{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 250px;
    align-items: center;
    padding: 10px;
    background-color: $color-terciario;
    img{
        border: 2px, solid $color-primario;
        width: 200px;
        height: 150px;
        border: 2px solid $color-primario;
        border-radius: 15px;
    }
    a{
        text-decoration: none; 
    }
    h4{
        font-family: cursive;
        font-size: 15px;
        margin-top: 5px;
        text-align: center;
        background-color: $color-primario;
        border-radius: 10px;  
    }
}
.ofertas .div2{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 250px;
    align-items: center;
    padding: 10px;
    background-color: $color-terciario;
    img{
        border: 2px, solid $color-primario;
        width: 200px;
        height: 150px;
        border: 2px solid $color-primario;
        border-radius: 15px;
    }
    a{
        text-decoration: none;
    }
    h4{
        font-family: cursive;
        font-size: 15px;
        margin-top: 5px;
        text-align: center;
        background-color: $color-primario;
        border-radius: 10px;
    }
}
.ofertas .div3{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 250px;
    align-items: center;
    padding: 10px;
    background-color: $color-terciario;
    img{
        border: 2px, solid $color-primario;
        width: 200px;
        height: 150px;
        border: 2px solid $color-primario;
        border-radius: 15px;
    }
    a{
        text-decoration: none; 
    }
    h4{
        font-family: cursive;
        font-size: 15px;
        margin-top: 5px;
        text-align: center;
        background-color: $color-primario;
        border-radius: 10px;
    }
}
.parrafo-ofertas{
    background-color: $color-terciario;
    height: 10vh;
    text-align: center;
    p{
        font-family: cursive;
        font-size: 20px;
        color: $color-terciario;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: $color-secundario ;
    }
}

/*CONTACTENOS*/
.navbarcontacto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25vh;
    position: sticky;
    top: 0;
    z-index: 1;
    img{
        width: 100px;
        height: 100px;
        border-radius: 100px;
    }
}
/*BOOSTRAP CONTACTENOS*/
.titulo-formulario{
    text-align: center;
    background-color: $color-secundario;
    font-family: cursive;
    font-size: 20px;
    h2{
        color: $color-terciario;
        height: 7vh;
    }
}
.formulario{
    width: 50%;
    justify-content: space-between;
    border: 2px solid $color-secundario;
    padding: 10px;
    margin-left: 350px;
    margin-bottom: 10px;  
    background-color: $color-terciario;
}
.ubicacion{
    height: 30%;
    iframe{
        width: 100%;
        height: 30vh;
    }
}
.pienosotros{
    h2{
        font-family: cursive;
        color: $color-terciario;
        font-size: 30px;
    }
}